services:
  app: #this is the name of the image....in this case app
    build: .
    env_file:
      - .env
    ports:
      - 8000:8000 #expose from 8000 in our computer to the other port in the image
    image: anpahp_container
    container_name: anpahp_container
    volumes:
      - .:/ANPAHP
    command: >
        sh -c "python3 manage.py makemigrations &&
            python3 manage.py migrate &&
            python3 manage.py makemigrations ANPAHP &&
            python3 manage.py migrate ANPAHP &&
            python3 manage.py runscript populate_db &&
            python3 manage.py runscript create_knowledge &&
            python3 manage.py runserver 0.0.0.0:8000"





