version: "3.8"
services:
  #database
  #django application
  app: #this is the name of the image....in this case app
  # build is that the Dockerfile is in the same folder
    build: .
  # this specify the link between containers and other
    volumes:
      - .:/ANPAHP #this is the link between folders (if something change locali will later on be applied to the container)
    environment:
      - SECRET_KEY=eduardosecretkey
      - DEBUG=1
    ports:
      - 8000:8000 #expose from 8000 in our computer to the other port in the image
    image: app:ANPAHP
    container_name: ANPAHP_container
    command: >
      sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py runscript populate_db &&
            python manage.py runserver 0.0.0.0:8000"


