{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title> DATAMITE - About </title>
{%endblock%}


{%block main2%}

        <div>
            <h1 class="display-6 text-primary font-weight-bold"> About </h1>
            <p style="text-align: justify;">
                The purpose of this site is to foster the implementation of an ANP and AHP approach within the DATAMITE project. This site was built with the support of the European Commission, collaborators from diverse institutions from the DATAMITE project, and
                the Insight Centre of Data Analytics. The main participants in the development of this tool and the development of the site are:

                <li> Agnieszka Rausch - PSNC </li>
                <li> Alejandro Martinez - ITI </li>
                <li> Bastien Pietropaoli - Insight Centre for Data Analytics </li>
                <li> Eduardo Vyhmeister Bastidas - Insight Centre for Data Analytics </li>
                <li> Gabriel Gonzalez Castane - Insight Centre for Data Analytics </li>
                <li> Andrea Visentin - Insight Centre for Data Analytics</li>
                <li> Loers Martin -  FIR </li>
                <li> Montserrat Gonzalez Ferreiro - EGI Foundation </li>
                <li> Qusai Ramadan - UniKo </li>
            </p>
            <h2 class="display-6 text-primary font-weight-bold">Acknowledgements</h2>
            <p style="text-align: justify;">
                This website benefited from the financial support of the European Commission under Grant number 101092989, the Science Foundation Ireland under Grant numbers 12/RC/2289-P2,16/RC/3918, and 18/CRT/6223, which are co-funded under the European Regional Development Fund.
            </p>
            <p style="text-align: justify;">
                This website is a work in progress and may be modified in the future, potentially resulting in the loss of your data. If you think it could be improved, please contact us and let us know what you think of the tool.
            </p>
        </div>
        <hr>
        <div>
            <h1 class="display-6 text-primary font-weight-bold">Privacy Statement</h1>
                <p style="text-align: justify;"> 
                    The tool developed here fully respects your right to privacy and actively seeks to preserve the privacy rights of those who share personal information (also known as personal data) with the tool. 
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> How we use your personal data and our legal basis for this </h3>
                <p style="text-align: justify;">
                    This website is a prototype of an interactive version a risk management process named ANP-AHP. We encourage you not to use personal information or intellectual property while using this website. On some parts of the website, you may volunteer personal information (for example in the open text questions or in the notes.). In principle, we use your information under the legal basis of consent. As such, you are free to withdraw your consent at any time. The application may also process your information under the legal basis of contract whereby the processing is necessary for a contract you have with us, or because you have asked us to take specific steps before entering into a contract).
                </p>
                <p style="text-align: justify;"> 
                    We do not collect information about your computer, such as your IP address, operating system and browser type, not even for system administration or reporting aggregate information to our webmasters.
                </p>

                <p style="text-align: justify;">
                    Any personal information processed by the tool in connection with this website will be treated in accordance with the General Data Protection Regulation and the Data Protection Acts 1988 to 2018. Accordingly, the tool shall only process such information in line with the purpose for which you provided it to the extent necessary to provide you with the information or service you require.

                    The tool shall not disclose your information to third parties.
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> How long will we keep your data? </h3>
                <p style="text-align: justify;">
                    In keeping with the data protection principles, we will only store your data for as long as is necessary for the purposes for which it was submitted to the tool. Any data you submit via this website will be deleted at the end of the prototype phase.
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> Cross-border data transfers </h3>
                <p style="text-align: justify;">
                    We will not move your data outside the European Economic Area (EEA).
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> Links </h3>
                <p style="text-align: justify;">
                    The tool is not responsible for the content or privacy practices of other websites. The privacy practices on these websites may differ from that on the tool's websites, and we advise that you review the other websites' policies before providing personal information.
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> Your Rights </h3>
                <p style="text-align: justify;">
                    You have various rights under data protection law, subject to certain exemptions, in connection with our processing of your personal data, including the right:

                    <li> to find out if we use your personal data, access your personal data and receive copies of your personal data; </li>
                    <li> to have inaccurate/incomplete information corrected and updated; </li>
                    <li> in certain circumstances, to have your details deleted from systems that we use to process your personal data or have the use of your personal data restricted in certain ways; </li>
                    <li> to object to certain processing of your data by UCC; </li>
                    <li> to exercise your right to data portability where applicable (i.e. obtain a copy of your personal data in a commonly used electronic form; </li>
                    <li> where we have relied upon consent as a lawful basis for processing, to withdraw your consent to the processing at any time; </li>
                    <li> to not be subject to solely automated decision; </li>
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> Queries or Complaints </h3>
                <p style="text-align: justify;">
                    If you have any complaints in connection with our processing of your personal data, you can contact UCC's Information Compliance Manager at <a href = "mailto:gdpr@ucc.ie"> gdpr@ucc.ie</a>.
                </p>
                <p style="text-align: justify;">
                    You also have the right to lodge a complaint with the Data Protection Commission if you are unhappy with our processing of your personal data. Details of how to lodge a complaint can be found on the <a href = "http://www.dataprotection.ie">Data Protection Commission's website</a>, or by calling 1890 252 231.
                </p>


            <h3 class="display-6 text-primary font-weight-bold"> Cookies Statement </h3>
                <p style="text-align: justify;">
                    This website does not use cookies.
                </p>
        </div>
        
        </br>





{% endblock %}




{%block lastk%}
{% endblock %}
