{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title> DATAMITE - About </title>
{%endblock%}


{%block main2%}

        <div>
            <h1 class="display-6 text-primary font-weight-bold"> Documentation </h1>
            <p style="text-align: justify;">  This section is dedicated to the incorporation and presentation of the various documents produced within Work Package 4 (WP4) of the DATAMITE project. It serves as a central space where users can access, review, and interact with the outputs and deliverables developed as part of WP4 activities.         </p>

        </div><hr>

        <div>
            <h3 class="display-6 text-primary font-weight-bold"> Towards a Data Monetization Maturity Model </h3>
                <p style="text-align: justify;">
                    The document “Towards a Data Monetization Maturity Model” introduces and details the Data Monetization Maturity Model (DMMM) — the first maturity model specifically designed to assess and guide organizations in data monetization.
                </p>

                <a href="{% static 'documentation\Towards_a_Data_Monetization_Maturity_Model.pdf' %}"  class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Download PDF
                </a>

        </div><hr>

        <div>
            <h3 class="display-6 text-primary font-weight-bold"> Deliverable D4.1 - Strategies for Improving Data Monetization </h3>
                <p style="text-align: justify;">
                    The report provides the approach for developing data monetisation strategies and structures specific strategy profiles for data monetisation.
                </p>

                <a href="" class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Not Available Yet
                </a>
        </div><hr>
        
        <div>
            <h3 class="display-6 text-primary font-weight-bold"> Deliverable D4.2 - Basic Dataset Computation Approach and Structured KPI Catalogue for the Valuation of Datasets</h3>
                <p style="text-align: justify;">
                    The report includes a catalogue and defines the approach required to determine the value of data sets using KPIs.
                </p>

                <a href="{% static 'documentation\Structured_KPI_Catalogue_for_the_Valuation_of_Datasets.pdf' %}" class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Download PDF
                </a>
        </div><hr>

        <div>
            <h3 class="display-6 text-primary font-weight-bold"> Deliverable D4.3 - Mechanisms for Transaction and Billing of Data-Based Offerings, Action
Blueprints for Business Model Design </h3>
                <p style="text-align: justify;">
                    The report offers the possibility to calculate business scenarios and blueprints for designing situation-specific
mechanisms for data monetisation in EU companies.
                </p>

                <a href="" class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Not Available yet
                </a>
        </div><hr>

        <div>
            <h3 class="display-6 text-primary font-weight-bold"> Deliverable D4.4 - Value of Data Sharing on SSH </h3>
                <p style="text-align: justify;">
                    This report outlines (future) value and benefits on SSH and compiles potentials in other SSH areas beyond the monetary
aspect.
                </p>

                <a href="" class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Not Available Yet
                </a>
        </div><hr>


        <div>
            <h3 class="display-6 text-primary font-weight-bold"> DATAMITE Deliverable D4.7 - LLM-Based Retrieval Augmented Generation (RAG) System for Identifying Effective Data Monetisation Strategies </h3>
                <p style="text-align: justify;">
                    D4.7 extends previous WP4 outputs—especially Deliverable D4.2 (KPI Catalogue and ANP Decision-Support Tool)—by embedding Large Language Models (LLMs) and Retrieval-Augmented Generation (RAG) components into the DATAMITE web-based decision-support environment.
                    In essence, this document: (1) Describes how AI (LLM + RAG) is integrated into the existing DATAMITE data-monetisation tools. (2) Demonstrates how the system transforms static project outputs (documents, KPIs, taxonomies) into an interactive, explainable, conversational assistant. (3) Details the architecture, deployment, and functioning of that intelligent web tool.
                </p>

                <a href="" class="btn btn-outline-primary mt-2" target="_blank" download>
                    <i class="bi bi-file-earmark-pdf"></i> Not Available Yet
                </a>
        </div><hr>

        </br>


{% endblock %}




{%block lastk%}
{% endblock %}
