{% extends "Shared/_layout.html" %}

{% block header %} <title> DATAMITE - ANP-AHP home</title> {%endblock%}


{%block main1%}{% endblock %}

{%block main2%}
    <div class="row align-items-center">
        

            <div class="col-md-12 text-justify">
                <h2 class="display-4 text-primary font-weight-bold"> Struggling estimating the worth of your data? </h2>
                You are not alone. While many companies recognize the importance of digitalization, proactively monetizing data remains a challenge for most.

                Before we start, what is data monetization? It is more than just selling data. Data monetization includes any way your data can create value for your business by: 
                <ol>
                    <li> Improving efficiency; </li>
                    <li> Enhancing decision-making; </li>
                    <li> Creating new revenue streams. </li>
                </ol>
                For example, a logistics company using data to optimize delivery routes is not just saving time — it is monetizing data by increasing efficiency and capacity. 
            </div>


            <div class="col-md-12 text-justify">
                <h2 class="display-4 text-primary font-weight-bold"> Why use this tool? </h2>
                <p class="lead font-weight-bold">
                    We will make it easy for you. The benefits can include:
                </p>
                <ol>
                    <li> Facilitating the comparison of datasets (e.g., in terms of data quality);</li>
                    <li> Facilitating the valuation of a dataset (including monetary value, by comparing it with known reference datasets that have been valued); </li>
                    <li> Providing a method to track and evaluate business improvements or modifications based on your strategies; </li>
                    <li> Linking strategies to a management tool, providing a framework for organizations to translate vision and strategy into actionable objectives across multiple perspectives: the Balanced Scorecard (BSC); </li>
                    <li> Improving and broadening the perspective of business strategies. </li>
                </ol>
            </div>


            <div class="col-md-12 text-justify">
                <h2 class="display-4 text-primary font-weight-bold">About the Tool</h2>

                <p>
                    This website demonstrates the Analytic Process Network (ANP) and Analytic Hierarchy Process (AHP) methodologies tailored for the DATAMITE project. Essential information for using these tools is available under the <a href="howtoANPAHP">"How to ANP-AHP"</a> tab. For more detail on the project, please visit the <a href="https://datamite-horizon.eu/">DATAMITE website</a>.
                </p>

                <p>
                    Developed for the DATAMITE project, this tool evaluates key metrics and KPIs for data monetization from a European perspective. Additional KPIs can also be incorporated. For more on the strategy, refer to the deliverables related to Work Package 4.
                </p>
            </div>

        <div class="col-md-12 text-justify">
            <h2 class="display-4 text-primary font-weight-bold"> About ANP and AHP </h2>
            <p>
                In decision-making theory, the Analytic Hierarchy Process (AHP) is a method for organizing and analyzing complex decisions using mathematics and psychology. Developed by Thomas L. Saaty in the 1970s, and later enhanced with Ernest Forman's Expert Choice software in 1983, AHP quantifies decision criteria weights through pair-wise comparisons by experts. Respondents use a designed questionnaire to compare the importance of criteria pairs, helping to determine the best alternative.
                Within DATAMITE, AHP is combined with the Balanced Scorecard approach to define strategic KPIs, measuring strategies through specific perspectives. The Balanced Scorecard is a performance management tool tracking activity execution and monitoring outcomes, focusing on strategy or operational activity implementation by the management team.
            </p>

            <p>
                For more information on ANP and AHP, interested users are encouraged to review <a href="https://link.springer.com/article/10.1007/s11518-006-0151-5"> this manuscript</a>.

            </p>

            {% comment %} <h2 class="display-8 text-primary font-weight-bold">Acknowledgments</h2>
            <p>This website benefited from the financial support of the European Commission under Grant number 101092989, the Science Foundation Ireland under Grant numbers 12/RC/2289-P2,16/RC/3918, and 18/CRT/6223, which are co-funded under the European Regional Development Fund.</p> {% endcomment %}
        </div>
    </div>
{% endblock %}


{%block main3%}{% endblock %}

{% block footer %}{% endblock %}


{% block footer2 %}{% endblock %}



{% block last %}{% endblock %}




