{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
        <title> DATAMITE - How to ANP-AHP</title>
{%endblock%}

{%block main2%}

<div class="row align-items-center">
    <div class="col-md-12 text-justify">
        <h2 class="display-6 text-primary font-weight-bold"> What is this tool? </h2>
        <p style="text-align: justify;">
            This tool uses a combination of both an Analytic Hierarchy Process (AHP) and an Analytic Network Process (ANP) to help you select the KPIs/metrics relevant to your strategy and estimate their relevance. KPIs/metrics are categorised following the Balance Scorecard (BSC) perspectives:
            <ul>
                {% for bsc_family in BSC_Families %}
                    <li>
                        <b>{{ bsc_family.name }}:</b> {{ bsc_family.explanation|safe }}
                    </li>
                {% endfor %}
            </ul>
        </p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a>
                <img src="{% static 'img/BSC.jpg' %}" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px; margin-top: 10px; max-height: 800px;  max-width: auto;" alt="ANP AHP Diagram"/>
            </a>
        </div>

        <h2 class="display-6 text-primary font-weight-bold"> How to use this tool? </h2>
        <p style="text-align: justify;">
            To use this, you need to create an account and log in (top right of the navigation bar). Once you are logged in, you can then create and access your evaluations (My Evaluations in the navigation bar). Each evaluation corresponds to a single strategy, so you may want to create multiple ones. Once you have created an evaluation, all you have to do is to follow the steps and their instructions.
        </p>
        <p style="text-align: justify;">
            In practice, you will select how important each Balance Scorecard (BSC) perspective is for your strategy. Based on these perspectives, it will offer a selection of KPIs/metrics (you can create your own too) that you can select to include into your evaluation. How important KPIs/metrics are for your perspectives is set through the selection of preference levels (from 1 to 100). If some KPIs/metrics are computed based on others, you can then create relationships between them. It can even handle circular dependencies (e.g. metric1 depending on metric2 which depends itself on metric1)!
        </p>
        <p style="text-align: justify;">
            Finally, once everything has been selected and weighted, we provide an analysis that gives you some insights on what are the most important KPIs/metrics for your strategy. You will be able to download a PDF report. These insights can then be included in your own system used measure your KPIs/metrics to estimate the performance of your overall strategy.
        </p>
    </div>
</div>
{% endblock %}


{%block lastk%}
{% endblock %}