
{% extends "Shared/_layout.html" %}

{% block header %}{%endblock%}


{%block main1%}


    <h1>Privacy Statement</h1>
        <p> 
            The tool developed here fully respects your right to privacy and actively seeks to preserve the privacy rights of those who share personal information (also known as personal data) with the tool. 
        </p>


    <h3> How we use your personal data and our legal basis for this </h3>
        <p>
            This website is a prototype of an interactive version of the Assessment List for Trustworthy AI and a risk management process named ANP-AHP. We encourage you not to use personal information or intellectual property while using this website. On some parts of the website, you may volunteer personal information (for example in the open text questions or in the notes.). The principally uses your information under the legal basis of consent. As such, you are free to withdraw your consent at any time. The application may also process your information under the legal basis of contract whereby the processing is necessary for a contract you have with us, or because you have asked us to take specific steps before entering into a contract).
        </p>
        <p> 
            We do not collect information about your computer, including your IP address, operating system and browser type, for system administration and to report aggregate information to our webmasters. 
        </p>

        <p>
            Any personal information processed by the tool in connection with these websites will be treated in accordance with the General Data Protection Regulation and the Data Protection Acts 1988 to 2018. Accordingly, the tool shall only process such information in line with the purpose for which you provided it to the extent necessary to provide you with the information or service you require.

            The tool shall not disclose your information to third parties.
        </p>


    <h3> How long we will keep your data </h3>
        <p>
            In keeping with the data protection principles, we will only store your data for as long as is necessary for the purposes for which it was submitted to the tool. Any data you submit via this website will be deleted at the end of the prototype phase.
        </p>


    <h3> Cross-border data transfers </h3>
        <p>
            We will not move your data outside the European Economic Area (EEA).
        </p>


    <h3> Links </h3>
        <p>
            The tool is not responsible for the content or privacy practices of other websites. The privacy practices on these websites may differ from that on the tool’s websites, and we advise that you review the other websites’ policies before providing personal information.
        </p>


    <h3> Your Rights </h3>
        <p>
            You have various rights under data protection law, subject to certain exemptions, in connection with our processing of your personal data, including the right:

            <li> to find out if we use your personal data, access your personal data and receive copies of your personal data; </li>
            <li> to have inaccurate/incomplete information corrected and updated; </li>
            <li> in certain circumstances, to have your details deleted from systems that we use to process your personal data or have the use of your personal data restricted in certain ways; </li>
            <li> to object to certain processing of your data by UCC; </li>
            <li> to exercise your right to data portability where applicable (i.e. obtain a copy of your personal data in a commonly used electronic form; </li>
            <li> where we have relied upon consent as a lawful basis for processing, to withdraw your consent to the processing at any time; </li>
            <li> to not be subject to solely automated decision; </li>
        </p>


    <h3> Queries or Complaints </h3>
        <p>
            If you have any complaints in connection with our processing of your personal data, you can contact UCC's Information Compliance Manager: gdpr@ucc.ie.
        </p>
        <p>
            You also have the right to lodge a complaint with the Data Protection Commission if you are unhappy with our processing of your personal data. Details of how to lodge a complaint can be found on the <a href = "http://www.dataprotection.ie">Data Protection Commission's website</a>, or by calling 1890 252 231.
        </p>


    <h3> Cookies Statement </h3>
        <p>
            Current tool do not use cookies.
        </p>

{% endblock %}

{%block main2%}{% endblock %}
{%block main3%}{% endblock %}

{% block footer %}{% endblock %}
{% block footer2 %}{% endblock %}
{% block last %}{% endblock %}