{% extends "Shared/_layout.html" %}
{% load static %}
{% load custom_filters %}

{%block head%}
    <title> DATAMITE - ANP-AHP - KPIs/metrics selection </title>
{%endblock%}

{% block navbar %}{% endblock%}
{% block main1%}{%endblock%}


{%block main2%}
<div class="row">
{% include "Shared/_survey.html" %}
<div class="col-md-9">
    <div id="surveyContainer">

        <div class="panel-heading card-header">
            <div class="sv_header__text">
                <h3><span style="position: static;"> Step 3 - KPIs/metrics selection: </span></h3>
            </div>
            <p style="text-align: justify;">
                In this section, you select the KPIs/metrics that are the most relevant to your business objective. They will be used in the analysis this ANP-AHP tool provides. 
            </p>
            <p style="text-align: justify;">
                While you are free to choose as many as you would like, selecting a reasonable number of KPIs/metrics is recommended as it might slow down the anaysis process if too many are selected.
            </p>
        </div>
        </br>

        <form method='POST'>
            {% csrf_token %}
            <div style="display: inline-block; width:100%;">
                <p  style="text-align: justify;">
                    Please select the KPIs that you would like to incorporate into your ANP-AHP Evaluation. Note that any KPI part of BSC family whose preference level was set to 0 will not appear in this list. If you want to add a new KPI/metric, please use the "Create a new KPI" button at the end of the page.<br/>
                </p>
            </div>
            
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Selected</th>
                        <th scope="col">Name</th>
                        <th scope="col">Definition</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for choice in form.kpis %}
                        {% for obj in form.kpis.field.queryset %}
                            {% if choice.data.value == obj.pk|stringformat:"s" %}
                                <tr>
                                    <td>{{ choice.tag }}</td>
                                    <td><b>{{ obj.name }}<b/></td>
                                    <td style="text-align: justify;">{{ obj.short_definition }} {% if obj.author %}(<b>Created by: </b>{{ obj.author }}){% endif%}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if ANPAHP.current_step > 3 %}
                <div class="alert alert-warning">
                    <p  style="text-align: justify;">
                        <b>Warning:</b> Changing your selection of KPIs/metrics here and confirming these changes will reset every subsequent step, meaning you will have to redo these steps.<br/>
                    </p>
                </div>
            {% endif %}

            <a class="btn btn-outline-secondary" href="{% url 'create_kpi' pk=ANPAHP.pk %}" > Create a new KPI/metric </a>
            <a class="btn btn-outline-secondary" href="{% url 'delete_kpi' pk=ANPAHP.pk %}" > Delete a KPI/metric </a>
            <button type="submit" class="btn btn-primary card-btn" name="action" value="confirm"> Confirm selection </button>
        </form>
    </div>
</div>

{% endblock %}


{% block footer%}{%endblock%}
{%block lastk%}{% endblock %}