
{% extends "Shared/_layout.html" %}
{% load static %}
{% load custom_filters %}


{%block head%}
    <title> DATAMITE - ANP-AHP - BSC Interests </title>
{%endblock%}

{% block navbar %}{% endblock%}
{% block main1%}{%endblock%}

{%block main2%}
<div class="row">

{% include "Shared/_survey.html" %}

<div class="col-md-9">
    <div id="surveyContainer">

        <div class="panel-heading card-header">
            <div class="sv_header__text">
                <h3><span style="position: static;"> Step 2 - Balanced Scorecard (BSC) Interests: </span></h3>
            </div>
            <p style="text-align: justify;">
                The Balanced Scorecard (BSC) is a strategic planning and management system that organizations use to align business activities to the vision and strategy of the organization, improve internal and external communications, and monitor organizational performance against strategic goals. The BSC transforms an organization's strategic plan from an attractive but passive document into the “marching orders” for the organization on a daily basis. It provides a framework that not only provides performance measurements, but helps planners identify what should be done and measured.
            </p>
            <p style="text-align: justify;">
                In this section, you define which families of KPIs/metrics are more relevant to you and your business strategy. This is then automatically translated into the SATY Scale, a convenient matrix for analysis of your strategy.
            </p>   
        </div>
        </br>

        <form method='POST' onsubmit="return validatePreferences()">
            {% csrf_token %}
            <div style="display: inline-block; width:100%;">
                <p  style="text-align: justify;">
                    Please provide your preferences in terms of BSC: 0 means no interest at all (which will prevent you from selecting any KPI/metric from this family), 100 means it is the highest priority.<br/>
                </p>
            </div>
            
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Perspective</th>
                        <th scope="col">Preference level</th>
                        <th scope="col">Definition</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for family in families %}
                            {% with field_name=family.name|slugify %}
                                <tr>
                                    <td><b>{{ family.name }}</b></td>
                                    <td>{{ form|get_value_at:field_name }}</td>
                                    <td style="text-align: justify;">{{ family.short_definition }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if ANPAHP.current_step > 2 %}
                <div class="alert alert-warning">
                    <p  style="text-align: justify;">
                        ⚠️ Changing any value here and confirming the change will reset the next two steps (KPIs/metrics selection and preferences).<br/>
                    </p>
                </div>
            {% endif%}

            <div id="preferenceMessage" class="alert d-none" role="alert"></div>
            <button type="submit" class="btn btn-primary card-btn" name="action" value="confirm">Confirm preferences</button>
        </form>
    </div>
</div>

{% endblock %}

{% block footer%}{%endblock%}
{%block lastk%}{% endblock %}