
{% extends "Shared/_layout.html" %}
{% load static %}
{% load custom_filters %}


{%block head%}
    <title> DATAMITE - ANP-AHP - Criteria preferences </title>
{%endblock%}

{% block navbar %}{% endblock%}
{% block main1%}{%endblock%}

{%block main2%}
<div class="row">

{% include "Shared/_survey.html" %}

<div class="col-md-9">
    <div id="surveyContainer">

        <div class="panel-heading card-header">
            <div class="sv_header__text">
                <h3><span style="position: static;"> Step 6 - Criteria preferences: </span></h3>
            </div>
            <p style="text-align: justify;">
                In this section, you define which criteria are more relevant to you and your business strategy. This is then automatically translated into the SATY Scale, a convenient matrix for analysis of your strategy.
            </p>  
        </div>
        </br>

        <form method='POST' onsubmit="return validatePreferences()">
            {% csrf_token %}
            <div style="display: inline-block; width:100%;">
                <p  style="text-align: justify;">
                    Please provide your preferences in terms of criteria: 1 means barely any interest, 100 means it is the highest priority.<br/>
                </p>
            </div>
            
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Criterion</th>
                        <th scope="col">Preference level</th>
                        <th scope="col">Definition</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for criterion in selected_criteria %}
                            {% with field_name=criterion.name|slugify %}
                                <tr>
                                    <td><b>{{ criterion.name }}</b></td>
                                    <td>{{ form|get_value_at:field_name }}</td>
                                    <td style="text-align: justify;">{{ criterion.explanation }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% comment %} {% if ANPAHP.current_step > 4 %}
                <div class="alert alert-warning">
                    <p  style="text-align: justify;">
                        ⚠️ Changing any value here and confirming the change will reset every subsequent step, meaning you will have to redo these steps.<br/>
                    </p>
                </div>
            {% endif%} {% endcomment %}

            <div id="preferenceMessage" class="alert d-none" role="alert"></div>
            <button type="submit" class="btn btn-primary card-btn" name="action" value="confirm">Confirm preferences</button>
        </form>
    </div>
</div>

{% endblock %}

{% block footer%}{%endblock%}
{%block lastk%}{% endblock %}