{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title> DATAMITE - ANP-AHP Evaluation - {{ANPAHP.title}}</title>
{%endblock%}


{% block navbar %}
{% endblock%}

{% block main1%}
{%endblock%}

{%block main2%}
<div class="row">


   {% include "Shared/_survey.html" %}

    <div class="col-md-9">
        <div id="surveyContainer">

            <div data-bind="css: css.root, afterRender: koEventAfterRender" class="sv_main sv_bootstrap_css">
                <div data-bind="css: css.header" class="panel-heading card-header">
                    <div data-bind="css: css.headerText" class="sv_header__text">
                        <h3 data-bind="css: css.title"><span style="position: static;" data-bind="html: koRenderedHtml"> Notes:</span></h3>
                        {% comment %} <h5 data-bind="css: css.description"><span style="position: static;" data-bind="html: koRenderedHtml"> {% endcomment %}<p style="text-align: justify;">
                            Use this section to annotate your ANP-AHP. This is for your information only, should you wish to develop several ANP-AHP Evaluations and use them for varying purposes.</span></p>
                        </h5>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div data-bind="css: css.body" class="panel-body card-block mt-4">
                        <div data-bind="css: panel.cssClasses.row" class="sv_row">
                            <div data-bind="css: question.cssContent">
                                {% comment %} {{ form.as_p }} {% endcomment %}
                                {% for field in form %}
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger">{{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        <input type="submit" value="Update notes" class="btn btn-primary card-btn" style="text-align: center;">
                    </div>
                </form >
        </div>
    </div>
    {% include "Shared/_privacystatement.html" %}
</div>
{% endblock %}


{% block footer%}{%endblock%}



{%block lastk%}
{% endblock %}