{% extends "Shared/_layout.html" %}
{% load static %}
{% load altai_tags_filters %}


{%block head%}
    <title> ANP - AHP - Initiation of Risk Management Process</title>
{%endblock%}

{% block navbar %}
{% endblock%}

{% block main1%}{%endblock%}

{%block main2%}
<div class="row">


{% include "Shared/_survey.html" %}


<div class="col-md-9">
    <div id="surveyContainer">
       <h1>{{message}}</h1> 
            <div class="panel-heading card-header">
                <div class="sv_header__text">
                    <h3><span style="position: static;"> In This Section: </span></h3></div>
                    In this section you are asked to define what are the primary criterias to evaluate the objectives and, at the same time, as an integration component for the KPIs. Criterias are, for example, Reducing Costs, Increase User Satisfaction, Reduce Execution Times (of some tasks), etc. Please define or use those established for you.
            </div>
        </br>


        <form method='POST'>
            {% csrf_token %}
            <div style="display: inline-block; width:80%;">
                Plese select from the list the Criterass that are more relevant to you, based on your strategies. If you want to add new Criteriass, please use the add button at the end of the page.
            </div>



            <div style="display: inline-block; width:110%;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"> Select </th>
                        <th scope="col"> Definition </th>

                    </tr>
                    </thead>
                    <tbody>
                    <div style="display: inline-block; width:80%;">
                        {% for x in form.Criterias.field.queryset %}
                            <tr>
                                <th scope="row">{{x.name}}</th>
                                <th>
                                    {% if lista|indexing:forloop.counter0 %}
                                        <input class="form-check-input" type="checkbox" name={{forloop.counter}} value={{forloop.counter}} checked="checked">
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name={{forloop.counter}} value={{forloop.counter}}>
                                    {% endif %}
                                </th>
                                <th>{{x.explanation}}</th>
                            </tr>
                        {% endfor %}

                    </div>
                    </tbody>
                </table>
            </div>
        
            <a class="btn btn-outline-secondary" href="{% url 'newCriteria' pk=ANPAHP.pk %}" > Create new Criteria </a>

            <button class="btn btn-primary card-btn" style="text-align: center;" name="button1"> Update </button>
        </form>
    </div>
</div>






{% endblock %}


{% block footer%}
{%endblock%}

{%block lastk%}
{% endblock %}
