{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title>DATAMITE - Delete an objective</title>
{%endblock%}

{% block main2 %}
<div class="col-md-9">
    <div id="surveyContainer">
        <h1>Delete one of your objectives:</h1>
        <p>Select one of your created objectives and confirm its deletion.</p>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.objective.label_tag }}
                {{ form.objective }}
            </div>

            {% if form.objective.errors %}
                <div class="text-danger">
                    {{ form.objective.errors }}
                </div>
            {% endif %}

            <a class="btn btn-secondary" href="{% url 'myANPAHPStep1' pk=ANPAHP.pk %}">Cancel</a>
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete the selected objective? This action cannot be undone.')">Delete Selected Objective</button>
            {% comment %} TODO: Add the name of the selected objective the confirmation message. {% endcomment %}
        </form>
    </div>
</div>
{% endblock %}

