{% load static %}
{% load custom_filters %}

{% block head %}
    <title>ANP - AHP - Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block main1 %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
        font-size: 8px; /* Adjust the font size here */
    }
    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f2f2f2;
        color: black;
    }
</style>
{% endblock %}

{% block main2 %}
<div class="col-md-9">
    <div id="surveyContainer">
        <h3>Report</h3>
        <br/>

        <div class="sv_qstn" id="sq_100" name="title" style="flex: 1 1 100%; width: 100%; max-width: initial;margin-top: 10px;">
            <h3>Recommendations</h3>
        </div>

        <p>The following table shows the results of the analysis. To read this table, do it columnwise. For example, in the first column, where the strategy was set, the relative importance of the BSC topics (customer, financial, education and growth, and internal process) are displayed. They do not necessarily sum to 1, but you can transform it to give the relative importance of each one of them with respect to the strategy. Similarly, this can be performed with the KPIs in the same column. On the other hand, if you want to evaluate how to ponder one criteria, check the column with the mentioned criteria and the relative importance will be displayed in the corresponding column.</p>
        
        <br/><br/>
        <div class="container">
            <h2>DataFrame Table</h2>
            <div>
                {{ html_table|safe }}
            </div>
        </div>

        <h2>KPI Graphics</h2>
        <div style="margin-left: 100px; margin-right: 50px;">
            <img src="data:image/png;base64, {{chart|safe}}">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block lastk %}
{% endblock %}