{% extends "Shared/_layout.html" %}
{% load static %}
{% load custom_filters %}


{%block head%}
    <title> ANP - AHP</title>
{%endblock%}

{% block navbar %}
{% endblock%}

{% block main1%}{%endblock%}

{%block main2%}
<div class="row">


{% include "Shared/_survey.html" %}


<div class="col-md-9">
    <div id="surveyContainer">
        <form method='POST'>
        {% csrf_token %}
        <h3> Please provide any feedback regarding how useful or modifications that should be done to the ALTAI tool</h3>
            {{form.ANPAHP_recommendations}}
            </br>
            <button class="btn btn-primary card-btn" style="text-align: center;" name="button1"> Update </button>

            <div class="sv_qstn" id="sq_100" name="title" style="flex: 1 1 100%; width: 100%; max-width: initial;margin-top: 10px;">
                    <h3> Recommendations </h3>
            </div>

            The following table shows the results of the analysis. To read this table, do it columnwise. For example, in the first column, where the strategy was set, the relative importance of the BSC topics (customer, financial, education and growth, and internal process) are displayed. They do not necesarily sum to 1, but you can transform it to give the relative importance of each one of them with respect to the strategy. Similarly this can be performed with the KPIs in the same column. On the other hand, if you want to evaluate how to ponder one criteria, check the column with the mentioned criteria and the relative importance will be displayed in the corresponding column. 
        
            </br> </br>
            <div class="container">
                <h2>DataFrame Table</h2>
                <div>
                    {{ html_table|safe }}
                </div>
            </div>


        {% if True %}
            </br>
                <a class="btn btn-primary card-btn" style="text-align: center;" href="{% url 'myANPAHPPdf' ANPAHP.pk %}"> Construct a Report </a>
            </br>

                <div style="display: inline-block; width:110%;">
                </div>
                </br>
                <h3> KPI Graphics </h3>

                {% if chart %}
                    <div style="margin-left: 100px; margin-right: 50px;">
                        <img src="data:image/png;base64, {{chart|safe}}">
                    </div>
                {% endif %}

                <div style="display: inline-block; width:110%;">

                </div>
        
        {% else %}
    </br></br>
      <h3>  The process has not been completed to report any result </h3>

        {% endif %}
        </form>
    </div>
</div>


{% endblock %}


{% block footer%}
{%endblock%}

{%block lastk%}
{% endblock %}
