{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title>Create - ANP - AHP</title>
{%endblock%}


{% block navbar %}{% endblock%}

{% block main1%}

{%endblock%}

{%block main2%}
<div class="row">

    <div class="col-md-4">
        <h1>Create new evaluation</h1>
    </div>
    <div class="col-md-7">
        <div id="surveyContainer">
            <form method='POST'>
                {% csrf_token %}
                {% for x in form %}
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            {% if forloop.counter == 1 %}
                            <h4>Title for the ANP-AHP</h4>
                            {% elif forloop.counter == 2%}
                            <h4>User's Application Domain</h4>
                            {% elif forloop.counter == 3%}
                            <h4>AI Functionality</h4>
                            {% elif forloop.counter == 4%}
                            <h4>Stage of the AI</h4>
                            {% elif forloop.counter == 5%}
                            <h4> Your Category for the AI Asset </h4>
                            {% endif %}
                            {{x}}
                        </div>
                        </li>
                    </br>
                    </ol>

                {% endfor %}
                <button class="btn btn-primary card-btn" style="text-align: center;">create the ANP - AHP evaluation</button>

        </form>
        </div>
    </div>

</div>
{% endblock %}


{% block footer%}{%endblock%}



{%block lastk%}
{% endblock %}