{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title>Create - Objective </title>
{%endblock%}



{%block main2%}
<div class="row">


{% include "Shared/_survey.html" %}


<div class="col-md-9">
    {% if submitted == True %}
            <h1> The Objective Have Been Created Correctly. Pleas Return to The Step You Want To Continue </h1>
    
    {% else %}
    <div id="surveyContainer">

        <h1>Information Required to Create a new Objective/Strategy: </h1>
        <p>To create a New Objective / Strategies, you should provide a name to it, an explanation, and a perspective for the objective. The perspectives can be: </p>
            <li> User of DATAMITE  </li>
            <li> Data Provider </li>
            <li> DATAMTIE stakeholder </li>
        <p> Additinally, please provide an explination ideially with an exempliification to further understand the constep provided in order to differentiate it from those existing.</p>

    </br>
        
        <h2> Define a New Objective / Strategies </h2>
        <form method='POST'>
            {% csrf_token %}
            {% for x in form %}
                <ol class="list-group list-group-numbered">
                   <strong> {{x.name}}: </strong>
                        {{x}}
                </br>
                </ol>

            {% endfor %}
            <button class="btn btn-primary card-btn" style="text-align: center;"> Create the KPI </button>

            <div>
                <p>This website is a prototype of an interactive version of the ASSISTANT project. We encourage you not to use personal information or intellectual property while using this website. Full details of how we process personal data and your rights under Data Protection legislation are set out in our <a href="https://datamite.insight-centre.org/Home/Privacy">Privacy Statement</a>.  </p>
            </div>
        </form>
    </form>

    </div>
    {% endif %}
</div>



{% endblock %}


{% block footer%}
{%endblock%}

{%block lastk%}
{% endblock %}









