{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <!---->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'mine/stylescss.css'  %}" >
        <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/font-awesome.min.css">
        <link rel=icon href="{% static 'img/favicon-32x32.png' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.css'  %}" >
        <link rel="stylesheet" href="{% static 'css/site.css' %}" />
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script href='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!--name x is the id to hide, name 2 is the value of the buttion yes,no,etc to hide-->
    </head>

    <body>


        <header>
            {% include "Shared/_Navbar.html" %}
            {% block header %}
            {% endblock %}
        </header>

        <div class="container">
            <script>
                (function () {
                    var button = document.querySelector("#cookieConsent button[data-cookie-string]");
                    button.addEventListener("click", function (event) {
                        document.cookie = button.dataset.cookieString;
                    }, false);
                })();
            </script>

            {% block main1 %}
            {% endblock %}

            <main role="main"> <!-- here was placed class="pb-3"-->

            {% block main2 %}
            {% endblock %}

            </main>

            {% block main3 %}
            {% endblock %}

        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                {% include "Shared/_footer.html" %}
                   {% block footer %}{% endblock %}
            </div>

            {% block footer2 %}
            {% endblock %}

        </footer>

        <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
        <script src="{% static '/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://use.fontawesome.com/1bbdefb14c.js"></script>
        <script src="{% static 'js/checkbox-row-toggle.js' %}"></script>
        <script src="{% static 'js/radio-row-select.js' %}"></script>
        <script src="{% static 'js/validate_preferences.js'%}"></script>
        {% block last %}
        {% endblock %}

    </body>
</html>
