{%load static %}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-ec bg-ecblue border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="https://datamite-horizon.eu/"><img src="{% static 'img/Datamite-white-vertical.png' %}" class="menu-logo" alt="datamite Logo" style="width: auto; height: 120px;" /></a>
        <button id="navbarCollapseButton" aria-label="Collapse menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" title="Manage" href="{% url 'logout' %}"> Logout {{request.user.username}}  </a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
            {% endif %}
            
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link" style="font-size: 18px;" alt="" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="font-size: 18px;" href="/howtoANPAHP"> How to </a></li>
                <li class="bg-ecyellow nav-item"><a class="bg-ecyellow nav-link" style="font-size: 18px;" href="documentation">Documentation</a></li>
                {% if request.user.is_authenticated %} <li class="bg-ecyellow nav-item"><a class="bg-ecyellow nav-link" style="font-size: 18px;" href="/myANPAHP">My Evaluations</a></li> {% endif %}
                <li class="nav-item"><a class="nav-link" style="font-size: 18px;" href="/about">About</a></li>
            </ul>
        </div>
        <a class="navbar-brand" href="https://commission.europa.eu/"><img src="{% static 'img/EU_commission_logo_white_vertical.png' %}" class="menu-logo" alt="European Commission Logo" style="width: auto; height: 120px;" /></a>
    </div>

    <!-- Chatbot Button -->
    <button id="chatbot-btn" class="btn btn-outline-light btn-sm ml-2" onclick="openChatbot()" style="white-space: nowrap;">
        <i class="fa fa-comments"></i> AI Assistant
    </button>
</nav>