{%load static %}

<div class="col-md-3">
    <h1>ANP - AHP Evaluation tool for '{{ANPAHP.name}}'</h1>
<br/>

<a class="btn btn-primary card-btn bg-ecblue" style="text-align: center; background-color:  #00458f;" href="{% url 'myANPAHPHome' pk=ANPAHP.pk %}">{{ANPAHP.name}}'s home </a>
<br/><br/>

<h2>Steps of the process:</h2>
<nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
    <li class="nav-item nav-item-clear req-menu-item w-100">
        <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep1' pk=ANPAHP.pk %}">
            Step 1: Identification of the main objective
            {% if ANPAHP.objective %}
                <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
            {% endif %}
        </a>
    </li>
</ul></nav></br>

{% if ANPAHP.objective or ANPAHP.bsc_preferences %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link  w-100 d-block" href="{% url 'myANPAHPStep2' pk=ANPAHP.pk %}">
                </i>Step 2: Balanced Scorecard (BSC) preferences
                {% if ANPAHP.bsc_preferences %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}
    
{% if ANPAHP.bsc_preferences or ANPAHP.kpis.count %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep3' pk=ANPAHP.pk %}">
                </i>Step 3: KPI/metrics selection
                {% if ANPAHP.kpis.count %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}

{% if ANPAHP.kpis.count or ANPAHP.kpis_preferences %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep4' pk=ANPAHP.pk %}">
                </i>Step 4: KPI/metrics preferences
                {% if ANPAHP.kpis_preferences %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}

{% if ANPAHP.kpis_preferences or ANPAHP.criteria.count %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep5' pk=ANPAHP.pk %}">
                </i>Step 5: Criteria selection
                {% if ANPAHP.criteria.count %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}

{% if ANPAHP.criteria.count or ANPAHP.criteria_preferences %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep6' pk=ANPAHP.pk %}">
                </i>Step 6: Criteria preferences
                {% if ANPAHP.criteria_preferences %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}

{% if ANPAHP.criteria_preferences or ANPAHP.interfamily_relationships %}
    <nav class="navbar req-menu w-100"><ul class="navbar-nav bg-ecblue w-100">
        <li class="nav-item nav-item-clear req-menu-item w-100">
            <a class="nav-link req-menu-link w-100 d-block" href="{% url 'myANPAHPStep7' pk=ANPAHP.pk %}">
                </i>Step 7: Interfamily relationships
                {% if ANPAHP.interfamily_relationships %}
                    <span style="color: #cd8431 !important;" class="ms-2">&#10004;</span> 
                    {% comment %} TODO: Find a way to take the correct colour into account. {% endcomment %}
                {% endif %}
            </a>
        </li>
    </ul></nav></br>
{% endif %}

        {% comment %} <h5 class="mt-3">Legend of progression symbols</h5>
        <ul>
            <li>
                <i class="fas fa-clipboard" aria-label="Empty requirement"></i>Incomplete
            </li>
            <li>
                <i class="fas fa-clipboard-check" aria-label="Requirement completed"></i>Completed and validated
            </li>
        </ul> {% endcomment %}
        {% comment %} {% if taiprm.status3 %}
        <h2 class="mt-3">See the results </h2>
        <a class="btn btn-primary card-btn" style="text-align: center;  background-color:  #00458f;" href="{% url 'myANPAHPResult' pk=ANPAHP.pk %}">Results and Recommendations </a>
        <br/>
        {% endif %} {% endcomment %}
    </div>
    {% comment %} <div class="col-md-3"></div>  {% endcomment %}